
{% extends "base.html" %}

{% block title %}
Menu
{% endblock %}

{% block content %}

<h1>Our Menu</h1>

{% for category in categories %}

    <h2 class="category-title">
        {{ category.name }}
    </h2>

    <div class="food-grid">

        {% for food in category.foods.all %}

            <div class="food-card">

                {% if food.image %}
                    <img src="{{ food.image.url }}" alt="{{ food.name }}">
                {% endif %}

                <h3>{{ food.name }}</h3>

                <p>
                    {{ food.description }}
                </p>

                <p class="price">
                    {{ food.price }} ₺
                </p>

                <a href="{% url 'menu:food_detail' food.id %}">
                    View details →
                </a>

            </div>

        {% endfor %}

    </div>

{% endfor %}

{% endblock %}

